@charset "UTF-8";

/* styles.css */
body {
	background-image: url('../images/4.jpg');
}

.button_box {
	display: flex;
	flex-direction: column;
	justify-content: space-around; /* 버튼 간격 동일하게 */
	align-items: center; /* 버튼을 수평 방향으로 가운데 정렬 */
	background-color: rgba(0, 0, 0, 0.5); /* 50%의 투명도 */
	width: 110px;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px;
	margin-left: 20px;
	position: absolute;
	top: 400px;
	border: 2px solid #4174d9;
}

.button_box a {
	width: 110px;
	height: 50px;
	color: white;
	background-color: #4174d9;
	text-align: center;
	margin-bottom: 5px; /* 버튼 아래쪽에 간격 추가 */
	cursor: pointer;
	text-decoration: none;
	line-height: 50px; /* 버튼의 높이와 동일하게 설정 */
	border: 2px solid #4174d9;
	border-radius: 10px;
}

.button_box a:hover {
	background-color: white;
	color: #4174d9;
}

.card {
	width: 900px; /* 원하는 너비로 조절하세요 */
	height: 550px; /* 원하는 높이로 조절하세요 */
	position: absolute; /* 상대 위치 설정 */
	top: 200px; /* 원하는 상단 여백으로 조절하세요 */
	left: 550px; /* 원하는 왼쪽 여백으로 조절하세요 */
	border: 4px solid black; /* 태두리 추가 */
	border-radius: 5px; /* 모서리 둥글게 처리 */
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}