@charset "UTF-8";

@media (max-height: 400px) {
    .navbar {
        position: relative; 
        height: 100px; /* 너비를 화면 전체로 설정 */
        z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    }
}

@media (max-width: 1000px) {
    .navbar {
        position: relative; 
        width: 1000px; /* 너비를 화면 전체로 설정 */
        z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    }
}

@media (max-width: 1550px) {
    .navbar {
        width: 1550px; /* 너비를 화면 전체로 설정 */
        z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    }
}

@media (max-width: 1550px) {
    hr {
        width: 1500px; /* 너비를 화면 전체로 설정 */
        z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    }
}