@charset "UTF-8";

/*WishList.jsp ui*/
body {
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
    background-image: url("../images/main.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main{ 
	opacity:0.3;
}

.line{
	border-top: 3px solid #ffffff;
    margin: 100px 0; 
}

.line p{
	margin-top: -80px;
	margin-left: 840px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}

.search-container {   
    margin-top: -170px;
	margin-left: 1300px;
	matgin-bottom: 127px;
}

.search-container input{
    width:320px; height:30px; 
    top : 80px; border: 2px solid #ccc; border-radius: 10px;
    font-size: 14px;
}

.search-container button{
	  width:80px; height:40px; 
	  border: 2px solid #ccc; border-radius: 10px;
	  font-size: 14px;  cursor: pointer;
}

.button_box {
   display: flex;
   flex-direction: column;
   justify-content: space-around; /* 버튼 간격 동일하게 */
   align-items: center; /* 버튼을 수평 방향으로 가운데 정렬 */
   justify-content: space-around; /* 버튼 간격 동일하게 */
   background-color: rgba(0, 0, 0, 0.5); /* 50%의 투명도 */
   width: 110px;
   background-color: transparent;
   border-radius: 10px;
   padding: 10px;
   margin-left: 20px;
   position: absolute;
   top: 265px;
   border: 2px solid #4174d9;
}

.button_box a {
   width: 110px;
   height: 50px;
   color: white;
   background-color: #4174d9;
   text-align: center;
   margin-bottom: 5px; /* 버튼 아래쪽에 간격 추가 */
   cursor: pointer;
   text-decoration: none;
   line-height: 50px; /* 버튼의 높이와 동일하게 설정 */
   border: 2px solid #4174d9;
   border-radius: 10px;
}

.button_box a:hover {
   background-color: white;
   color: #4174d9;
}

.sort-box{
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-around; /* 버튼 간격 동일하게 */
   align-items: center; /* 버튼을 수평 방향으로 가운데 정렬 */
   width: 110px;
   background-color: transparent;
   border-radius: 10px;
   padding: 10px;
   margin-left: 20px;
   top: 570px;
   border: 2px solid #4174d9;
}

.sort-box a{
	width: 110px;
	height: 50px;
	color: white;
	background-color: #4174d9;
	text-align: center;
	margin-bottom: 5px; /* 버튼 아래쪽에 간격 추가 */
	cursor: pointer;
	text-decoration: none;
	line-height: 50px; /* 버튼의 높이와 동일하게 설정 */
	border: 2px solid #4174d9;
	border-radius: 10px;
}

.sort-box a:hover{
   background-color: white;
   color: #4174d9;
}

.block{
	flex-direction:row;
	width : 1600px; height:560px;
	border:5px solid white;
	justify-content: space-around;
	background-color: transparent;
	border-radius: 10px; color:#fff;   
    margin-top: 50px; margin-bottom:20px; margin-left: 230px;
    overflow:scroll; /*콘텐츠 내용이 박스크기를 넘어가면 스크롤*/ 
    overflow-x:hidden;
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 20px));
    /* 가로 방향으로 최대 3개씩 정렬 */
	grid-auto-rows: minmax(calc(50% - 20px), auto);
	/* 세로 방향으로 최대 2개씩 정렬 */
	gap: 40px; padding: 10px; 
}

img{
	width:450px; height:270px;
   	float:left; border:2px solid white;
	background-color: transparent;
	margin:30px;
}

img:hover{
	background-color: #d2def7;
}
